# Django
DJANGO_SECRET_KEY='django-insecure-uyzmkl$)24nh-%uh$if&knn3n7opz4h8&f#oxhxml_!#!*1443'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS='*'
DJANGO_STATIC_URL=/static/
DJANGO_MEDIA_URL=/media/
DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_BASE_URL=http://localhost:8000

# Database
DB_NAME=berliano-omnichannel
DB_USER=postgres
DB_PASSWORD=Thisispasswordforpostgresql2910.
DB_HOST=localhost
DB_PORT=5432